@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';

body {
  background: #fdfcfe;
}

#right {
  float: left;
  width: 50%;
  height: 100%;
  background-color: #0066ff;
  color: #fdfcfe;
  text-align:center;
}

#right p {
  font-size: 40px;
}

#right h1 {
  font-size: 70px;
  font-weight: 700;
  margin-top: 35vh;
}

#left {
  float: left;
  width: 50%;
  height: 100%;
  color: #0066ff;
  text-align: left;
  position: relative;
}

#left p {
  
}

#cover {
  font-family: 'Montserrat', sans-serif;
}

.about1 {
  font-weight: 400;
  font-size: 30px;
  margin-top:6vh;
  margin-left:20px;
  margin-right:20px;
}

.about2 {
  font-weight: 400;
  font-size: 30px;
  margin-left:20px;
  margin-right:20px;
  margin-top:20px;
  line-height:60px
}

.icon {
  color: white;
  margin:10px;
  -webkit-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

.icon:hover {
  color: yellow;
}

a {
  color: #0066ff;
  text-decoration: underline;
  -webkit-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
}

a:hover {
  color: yellow;
}

.vertical-center {
/*
  position: absolute;
  top:15%;
  height: 100px;
  margin-top: -50px;
*/
  
  padding-top:16vh;
}

@media screen and (max-width: 975px) {
  #left {
    float: none;
    width: 100%;
    height: 100%;
  }
  #left p {
    margin-top: 0;
    padding-top:10vh;
  }
  .vertical-center {
    padding-top:5vh;
  }
  #right {
    float: none;
    width: 100%;
    height:100%;
  }
  #right h1 {
    margin-top: 0;
    padding-top:30vh;
  }
}